%section.container
  - if logged_in?
    = link_to 'Create a Business', new_business_path, class: 'btn btn-primary right'
  %h1.m-center Businesses
  %ul.clearfix
    - @businesses.each do |business|
      %li.card
        %h2
          = link_to business.name, business_path(business)
        %p
          = "#{Review.average_by_business(business)} / 5 Stars"
          %small= pluralize(business.reviews.count, 'review')
        %p= business.description
  = render 'shared/pagination', page_count: @pages, per_page: Business::PER_PAGE, path: -> x { businesses_path(x) }
