.band
  %section.container
    .row
      .col-300
        %h1= @business.name
        %p
          = "#{Review.average_by_business(@business)} / 5 Stars"
          %small= pluralize(@business.reviews.count, 'review')
        %p= @business.description
      .col-300
      - if logged_in?
        .col-300
          = link_to new_business_review_path(@business), class: 'btn btn-primary right' do
            %i.fa.fa-star
            Write a Review

%section.container
  %h2= "Reviews for #{@business.name}"
  - @reviews.each do |review|
    .list-stack.row.review
      .col-200
        %h3
          = link_to "#{review.user.full_name}", user_path(review.user)
        %p
          %small= date_from(review.created_at)
      .col-300
        %p= "#{review.rating} / 5 stars"
        %p= review.body
  = render 'shared/pagination', page_count: @reviews_pages, per_page: Review::PER_PAGE, path: -> x { business_path(@business, x) }
