.band
  %section.container
    .row
      .col-300
        %h1= @business.name
        %p
          3 / 5 Stars
          %small (87 reviews)
        %p= @business.description
      .col-300
      .col-300
        = link_to new_business_review_path(@business), class: 'btn btn-primary right' do
          %i.fa.fa-star
          Write a Review

%section.container
  %h2 Reviews for Awesome Business
  - @business.reviews.each do |review|
    .list-stack.row.review
      .col-200
        %h3
          = link_to "#{review.user.first_name} #{review.user.last_name}", "#"
        %p
          %small= date_from(review.created_at)
      .col-300
        %p= "#{review.rating} / 5 stars"
        %p= review.body
