!!! 5
%html(lang="en-US")
  %head
    %title Yelp Clone
    %meta(charaset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag "https://use.fontawesome.com/releases/v5.0.6/js/all.js"
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    %header
      = render 'shared/header'
    -# = render 'shared/messages'
    = yield
